/* background_01.css */
#wrap{width: 100%; height: auto; min-height: 500px; 
  background-color: #afafaf; box-sizing:border-box; }
h1{color:#fff; background-color: #08a; text-align: center;
 /*  width:100%; height:auto; box-sizing:border-box; */ padding: 1rem; }
h2{background-color: #0af; margin-bottom: 0.5rem; padding: 1rem; color:#fff;}

#wrap>div{width: 100%; height: auto; padding: 1rem; box-sizing: border-box;
  background-color: #fcc; border-bottom: 1px solid  #333;}
/* .color -----------------------------------------*/
.color{opacity:1;}
.color>div{width: 100%; height:30px; border:1px solid #777; box-sizing:border-box;
  background-color:hsla(270,100%,50%,1);}

/* .image -----------------------------------------*/
/*.image{}*/
.image>div{width: 100%; height: 300px; border: 1px solid  #777;}
  .img_1{background-image:url("../img/amazing.jpg");}
  .img_2{background-image:linear-gradient(50deg,#afc 60%, #f06 60%); 
        background-color:#afc; border-bottom: 0 !important;}
  .img_3{background-image:linear-gradient(-50deg,#f06 40%, #afc  40%);
        border-top: 0 !important;}
  .img_4{background-image:radial-gradient(#fff, #467);}
  .img_5{background-image:repeating-radial-gradient(#fff, #faa 1rem);}
  .img_6{background-image:repeating-linear-gradient(45deg,  #000, #fff 1rem, #fff 2rem);}
  .img_7{
    background-image:-webkit-radial-gradient(circle at top left, #fff 30%, #f06 30%);
    background-image:   -moz-radial-gradient(circle at top left, #fff 30%, #f06 30%);
    background-image:    -ms-radial-gradient(circle at top left, #fff 30%, #f06 30%);
    background-image:     -o-radial-gradient(circle at top left, #fff 30%, #f06 30%);
    background-image:        radial-gradient(circle at top left, #fff 30%, #f06 30%);
    }
/* .repeat -----------------------------------------*/
/*.repeat{}*/
.repeat>div{width:50%; height:500px; box-sizing:border-box; border:1px solid #555; float:left;
  background-image:url("../img/images.jpg");}
  .re_1{background-repeat:no-repeat; 
  /* 넘쳐서 보이지 않는다고해도, 한장만사용할경우에는 no-repeat을 생활화해라!!!! */ }
  .re_2{background-repeat:repeat-x;}
  .re_3{background-repeat:repeat-y;}
  .re_4{background-repeat:repeat; /* 기본상태 */ }
/* .position -----------------------------------------*/
.position>div{width:30%; height:500px; 
              margin:1rem 5%; float: left; box-sizing:border-box; border:1px solid #777;}
.position>.po_1{background-image:url("../img/images.jpg"); background-repeat:no-repeat; 
      background-position:100px 200px;
      font-size: 0; text-indent:-9999px; overflow: hidden;}
.position>.po_2{background-image:url("../img/images.jpg"); background-repeat:no-repeat; 
      background-position:bottom right;}

.position>.po_3{width:200px; height:200px; 
              background-image:url("../img/icons.png"); background-repeat:no-repeat; 
              background-position:-200px -200px;}

.position>.po_4{background-image:url("../img/icons.png"); background-repeat:no-repeat; 
      background-position:0 0; width: 200px; height: 200px; transition:all 500ms ease;}
.position>.po_4:hover{background-position:-200px 0;}

.position>.po_5{width: 74px; height: 78px; 
      background-image:url("../img/icons_1x.jpg"); background-repeat:no-repeat;
      background-position:-54px -96px; transition:all 500ms ease;}
.position>.po_5:hover{background-position:-90px -14px;}    
.position>.po_5:active{background-position:-272px -96px;}    

/* IR: image replacement 라는 의미로 글씨를 숨김처리하고, 이자리에 이미지로 대처해서 사용하는 기법
    + 주의사항: 글씨를 작성하지 않거나, display:none;, visibility:hidden; 기법으로 글씨를 숨기면, 스크린리더프로그램은 절대로 동작하지 않는다.

   IS: image split 이라는 의미로 여러개의 이미지를 하나의 파일에 담아서 적절한곳에 배치후, 
     필요한 이미지만 background-position으로 위치를 배치하여 사용하는 기법
    + 주의사항: 이미지 상자의 크기를 올바르게 사용하지 않으면 불필요한 이미지가 보일 수 있다.
    + 주의사항2: 배경이미지의 위치값을 올바르게 사용하지 않으면 원하는 이미지를 볼 수 가 없다.
    - 권장: 실무에서사용시, 해당 이미지의 위치값을 별도의 파일로 관리하는 것이 좋다.
*/

/* .size -----------------------------------------*/
/* background-image의 기본은 1:1비율로 배치 */
.size>div{width: 500px; height: 400px; border:1px solid #777;
  float:left; margin:1rem;
  background-image:url("../img/ny_city.jpg");
  background-repeat:no-repeat; background-position:center;
  font-size: 2rem; color:#fa0; font-weight: bold;}
  .size_1{background-size:cover;}
  .size_2{background-size:contain;}
  .size_3{background-size:50% 30%}
  .size_4{background-size:auto 100%;}

/* .attachment -----------------------------------------*/
.attachment{margin-bottom:150rem;}
.attachment>div{width: 100%; height: 400px; 
    background-color: #fff; 
    border-bottom:1px solid #a77;
    background-repeat:no-repeat; 
    background-position:center 50%;
    background-size:100% auto;}
.at_1{background-image:url("../img/lego.jpg");}
.at_2{background-image:url("../img/ny_city.jpg"); background-attachment:fixed;}
.at_3{background-image:url("../img/skytree.jpg"); background-attachment:scroll;}

/* .clip -----------------------------------------*/
.clip{}
