/* bannerBox.css */

#bannerBox{width:100%; height: 720px; height: 45rem; 
          background-color: #999;  margin: 0 auto;
          /* overflow: hidden; */
          position: relative;}

.banner_btn{position:absolute; width: 100%; height:0; top: 0; left: 0;}
.banner_btn>button{width: 100px; height: 720px; 
            background-color:transparent;}
  .left_btn{float:left; margin-left: 48px;}
  .right_btn{float:right; margin-right: 48px;}

.banner_btn>button:focus,
.banner_btn>button:hover,
.banner_btn>button:active{background-color:rgba(255,255,255,0.7);}  

.indicator{width:100px; height:30px; background-color: #fff;
          position: absolute; left:50%; margin-left: -50px; bottom:30px;}
.indicator>li{display: none;}

.banner_box{width: 200%; height: 100%;}
.banner_box>li{width: 50%; height: 100%; float: left;}
  .banner_01{background-color:#3fa;}
  .banner_02{background-color:#a3a;}
    .banner_content{width: 764px; height: 390px; margin:180px auto 0; text-align: center; background-color: #fff;}

    .banner_box a{width: 100%; height: 100%; display: block; background-color: #f07; color:#fff; font-variant-caps:  line-height: 100px;}