/* common.css */
.clearfix:after{content:" "; display:block; width:100%; height:0; clear:both;}
.clearfix::after{content:" "; display:block; width:100%; height:0; clear:both;}

.hidden_wrap a>span, 
.hidden{display:block; width:0; height:0; position:absolute; z-index:-100; overflow:hidden;}

#wrap .first{margin-left:0; border-left:0;}
#wrap .last{margin-right:0; border-right:0;}
#wrap .top{margin-top:0; border-top:0;}
#wrap .bottom{margin-bottom:0; border-bottom:0;}

/* accessibility.css */

a:focus, button:focus{outline:2px solid #d07; background-color:#d07; color:#fff;}