/* headBox.css */

#headBox{width:60rem; height:auto; box-sizing:border-box; padding:1rem 0.375rem 0.75rem;}

h1{width:6.125rem; height:3.75rem; float: left;}
h1>a{background-image: url("../../../img/logo.jpg");}

.navigation{width: 49.375rem; height:auto; float: right;}
/*.navigation::after{content:" ";display: block; clear: both;}*/
  #unb{width:auto; height:auto; float: right;}
  #unb>ul{width: auto; height:auto;}
  #unb>ul>li{height: 18px; float: left; font-size:0.875rem; text-transform:uppercase;
      margin-left:1rem; position: relative; line-height:18px;}
  #unb>ul>li:first-child{margin-left: 0;}
  #unb>ul>li:before{content:" "; display: block; width: 1px; height: 8px; 
                    background-color:#aaa; position: absolute; top: 5px; left:-0.5rem;}
  #unb>ul>li:first-child:before{display: none;}


  #gnb{width:auto; height:auto; float: right; margin-top: 4px;}
  #gnb>ul{width: 100%; height:auto;}
  #gnb>ul>li{height: 30px; float: left; margin-right: 30px;
      font-size:0.9375rem; font-weight: bold; line-height: 30px; color:#333;}
  #gnb>ul>li>a{padding:4px 8px; display:inline; color:inherit;}
  #gnb>ul>li:first-child>a:before{content:"정부3.0/정보공개";}
  #gnb>ul>li:last-child{margin-right: 0;}